Segunda parte del analisis de palabras para el modelado de topicos y prediccion de clases.

In [5]:
import pandas as pd

In [6]:
# DataFrame con descripciones y varietales
df = pd.read_csv('../data/descripciones.csv', index_col = None)
# DataFrame con los varietales y numero de apariciones
df1 = pd.read_csv('../data/varRec.csv', index_col = None)
# Recuento de paralbras usadas en los varietales.
df2 = pd.read_csv('../data/varWordRec.csv', index_col = None)

In [16]:
df.sample(1)

                                            description    variety
7352  aromas black white pepper raw meat redolent wi...  mourvèdre

In [17]:
df1.sample(1)

                    varietal  recuento
44  sauvignon blanc-semillon        24

In [18]:
df2.sample(1)

       words  recuento
52  marsanne        20

In [29]:
#Varietales que contienen las palabras mas usadas
dfs = list()
for w in df2.words:
    word = w
    data = pd.DataFrame(pd.Series([x for x in df.variety if w in x]).value_counts()).reset_index(drop=False).rename(columns={'index':'word',0:'recuento'})
    
    dfs.append((data,word))

Elementos en la lista dfs

Voy a construir un diccionario con todas las palabras que se usaron en los varietales y luego asignar a cada clave la lista de los varietales en que aparece dicha palabra y la cantidad de veces

In [30]:
dfs[0][0]

                         word  recuento
0                  pinot noir      4788
1                  pinot gris       269
2                 pinot blanc        57
3                pinot grigio        52
4            pinot-chardonnay         5
5               pinot meunier         2
6            pinot noir-syrah         2
7                    pinotage         2
8             pinot auxerrois         1
9      chardonnay-pinot blanc         1
10  pinot gris-gewürztraminer         1
11     pinot blanc-pinot noir         1

In [31]:
# Lo que sucede aqui es que tomamos una palabra y vemos en que varietales aparace.
# luego creamos un diccionario que tiene como clave una palabra y como item una lista de tuplas
# con los varietales donde aparece la palabra y cuantas veces en cada varietal
analisisVarietales = dict()

for i in dfs:
    palabra = i[1]
    dataFrame = i[0]
    
    rec = list()
    for a, b in zip(dataFrame.word, dataFrame.recuento):
        rec.append((a, b))
    
    analisisVarietales.update({
        palabra:rec
    }
    )

In [58]:
# Ejemplo de uso del resultado del loop anterior
l = [x[1] for x in analisisVarietales['pinot']]
maxIn = l.index(max(l))
analisisVarietales['pinot'][maxIn]

('pinot noir', 4788)

************************************************

In [60]:
countCtrl = 0

for v in df1.varietal:
#     if '-' in v:
#         v = v.replace('-', ' ')

    varital_0 = v
    vS = v.split()
    
    for w in vS:
        l = [x[1] for x in analisisVarietales[w]]
        maxIn = l.index(max(l))
        varietal_1 = analisisVarietales[w][maxIn][0]
        varitalCount = analisisVarietales[w][maxIn][1]
        print(f'varietal_0 {v} palabra {w} varietal_1 {varietal_1} recuento {varitalCount}')
        print('\n')  
    
    countCtrl += 1
    
    if countCtrl > 10 :
        break

varietal_0 pinot noir palabra pinot varietal_1 pinot noir recuento 4788


varietal_0 pinot noir palabra noir varietal_1 pinot noir recuento 4788


varietal_0 chardonnay palabra chardonnay varietal_1 chardonnay recuento 2407


varietal_0 cabernet sauvignon palabra cabernet varietal_1 cabernet sauvignon recuento 2372


varietal_0 cabernet sauvignon palabra sauvignon varietal_1 cabernet sauvignon recuento 2372


varietal_0 red blend palabra red varietal_1 red blend recuento 1803


varietal_0 red blend palabra blend varietal_1 red blend recuento 1803


varietal_0 syrah palabra syrah varietal_1 syrah recuento 1678


varietal_0 zinfandel palabra zinfandel varietal_1 zinfandel recuento 1114


varietal_0 bordeaux-style red blend palabra bordeaux-style varietal_1 bordeaux-style red blend recuento 1112


varietal_0 bordeaux-style red blend palabra red varietal_1 red blend recuento 1803


varietal_0 bordeaux-style red blend palabra blend varietal_1 red blend recuento 1803


varietal_0 merlot palabra merlot varietal_1 merlot recuento 597


varietal_0 sauvignon blanc palabra sauvignon varietal_1 cabernet sauvignon recuento 2372


varietal_0 sauvignon blanc palabra blanc varietal_1 sauvignon blanc recuento 574


varietal_0 rhône-style red blend palabra rhône-style varietal_1 rhône-style red blend recuento 516


varietal_0 rhône-style red blend palabra red varietal_1 red blend recuento 1803


varietal_0 rhône-style red blend palabra blend varietal_1 red blend recuento 1803


varietal_0 riesling palabra riesling varietal_1 riesling recuento 511