# Modelado de topicos para la clusterizacion y predicciones de varietales

### Importamos las librerias y paquetes necesarios

Librerias

In [1]:
import pandas as pd
import numpy as np
import nltk

Paquetes especificos

In [2]:
from IPython.display import display_html
from nltk.corpus import stopwords

Para el caso que no tegamos la lista de stopWords, la podemos descargar con el siguiente comando

In [3]:
# nltk.download('stopwords')

********************************

### Seteamos algunas cosas y definimos funciones para mas adelante

Comenzamos con algunas cosas que vamos a necesitar mas adelante

In [4]:
# La creacion de la lista de stopsWords customizada se debe a que en cada topico existe un grupo de palabras que no 
# aportan informacion relevante para el analisis, en este caso, por ejemplo, la palabra wine, no tiene relevancia
# ya es un pablara que hace referencia al objeto de analisis direcamente sin destacar niguna propiedad del el
customStopWords = ['wine', 'flavors']

In [5]:
#Stop Words que incluyen por defecto la libreria NLTK
stopWords = stopwords.words('english') + customStopWords

In [6]:
# Esta funcion nos va a permitir mas adelante
# visualizar algunos DataFrames de manera simultanea
def mydisplay(dfs, names=[], index=False):

    count = 0
    maxTables = 6 
    
    if len(dfs) < maxTables:
        maxTables = len(dfs)
        
    
    if not names:
        names = [x for x in range(len(dfs))]

    html_str = ''
    html_th = ''
    html_td = ''
    
    # contruccion del esqueleto html para mostrar dataFrames simultaneamente
    # de esta manera se facilita la visualizacion para evaluar los datos y hacer comparaciones
    for df, name in zip(dfs, names):
        if count < (maxTables):
            html_th += (''.join(f'<th style="text-align:center">{name}</th>'))
            html_td += (''.join(f'<td style="vertical-align:top"> {df.to_html(index=index)}</td>'))
            # Este contador lo uso para cerrar las filas en un maximo de 6 columnas
            count += 1 
        else:
            #Cuando el contador llega a 6 se incluyen las columnas a la tabla
            html_str += f'<tr>{html_th}</tr><tr>{html_td}</tr>'
            # Se reinicia el string con el dato que esta en las variables del for, para no perderlo
            html_th = f'<th style="text-align:center">{name}</th>'
            html_td = f'<td style="vertical-align:top"> {df.to_html(index=False)}</td>'
            # Finalmente reinicio el contador
            count = 1
    
    # Este condicionl esta aca por que probablemente el for termine de recorrer los datos y el contador no quede
    # en cero, esto implica que la tabla html que estamos construyendo no quede apropiadamente cerrada
    # para prevenir esto, aca puse el condicional que va a cerrar el tag cuando el contador no sea cero
    # aclaroo que esta funcion tiene un bug, si lo econtras y/o lo arreglas escribime arzanico@hotmail.com
    html_str += f'<tr>{html_th}</tr><tr>{html_td}</tr>'
        
        
    
    html_str += f'<table>{html_str}</table>'
    html_str = html_str.replace('table','table style="display:inline"')
    display_html(html_str, raw=True)

***********

### Importamos el set de datos

Set de Datos

Los datos fueron tomados de sitio https://www.kaggle.com
Publicados en https://www.kaggle.com/zynicide/wine-reviews

In [7]:
# df = pd.read_csv('../input/winemag-data-130k-v2.csv')
df = pd.read_csv('../data/winemag-data-130k-v2.csv', index_col = None)
df.drop(columns=['Unnamed: 0'], inplace = True)

### Realizamos las primeras transformaciones y comenzamos con el analisis exploratorio

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
country                  129908 non-null object
description              129971 non-null object
designation              92506 non-null object
points                   129971 non-null int64
price                    120975 non-null float64
province                 129908 non-null object
region_1                 108724 non-null object
region_2                 50511 non-null object
taster_name              103727 non-null object
taster_twitter_handle    98758 non-null object
title                    129971 non-null object
variety                  129970 non-null object
winery                   129971 non-null object
dtypes: float64(1), int64(1), object(11)
memory usage: 12.9+ MB

Antes de realizar cualquier cambio, transformacion o evaluacion de los datos, incluso antes de empezar a explorar los datos, me gusta verificar la existencia de datos nulo o "missing data".

-Quiero ver en que columnas se encuentran

-Cuantos son

-Por que faltan 

-Que voy a hacer con ellos. Eliminar las filas o columnas, imputar los datos, etc

In [9]:
#Consultamos si hay algun missing data, verificacion, por columna de al menos uno.
pd.DataFrame(pd.isnull(df).any()).rename(columns={0:'Bool'}).reset_index(drop=False).Bool.any()

True

Como vemos que si hay "missing data" en al menos una columna podemos correr un for para ver en que columnas y cuantos realmente

In [11]:
mydisplay([pd.DataFrame(pd.isnull(df[c]).value_counts()) for c in df.columns], [c for c in df.columns], index=True)

Vemos que la columna cariety tiene un solo nan, por lo tanto lo mejor va a ser dropear esa fila.

In [12]:
#Pasamos algunos datos de texto a minuscula
df.description = df.description.apply(lambda x : x.lower())
df.dropna(how='any', inplace=True)
df.variety = df.variety.apply(lambda x : x.lower())

In [13]:
#Sample data of all columns
df.sample(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
18988,US,this light to medium-bodied wine follows initi...,Valley Oaks,84,10.0,California,California,California Other,Jim Gordon,@gordone_cellars,Fetzer 2015 Valley Oaks Cabernet Sauvignon (Ca...,cabernet sauvignon,Fetzer

In [14]:
#Amount of uniques varieties
print('Se encuentrar ',df.variety.unique().size, ' variedades diferentes')
print('Hay vinos de ',df.country.unique().size, ' paises', end=' ')
print('y',df.winery.unique().size, ' bodegas diferentes')

Se encuentrar  183  variedades diferentes
Hay vinos de  1  paises y 2791  bodegas diferentes

Top 20 variatales mas revisados

In [15]:
top20Rw = pd.DataFrame(df.variety.value_counts()[:20]).reset_index(drop=False).rename(columns={'index':'varietal','variety':'recuento'})

##### Revision de los nombres de las variedades de los vinos

In [16]:
#Aqui quitamos las stopsWords
desc = df[['description', 'variety']].copy()
desc.description =  desc.description.apply(lambda x : ' '.join([w for w in x.split() if w.lower() not in stopWords]))

In [17]:
print('Numero medio de palabras con las que se describen los varietales')
round(desc.description.apply(lambda x : len(x.split())).mean(), 2)

Numero medio de palabras con las que se describen los varietales

26.22

Vamos a evaluar un varietal, Pinot Noir. Vamos a tomar todas las descripciones y hacer un lista de las palabras que se usaron


-> Acordate que pasamos todo a minuscula

In [18]:
pinotNoir = pd.Series((' '.join([x for x in desc.groupby('variety').get_group('pinot noir').description]).split()))

In [19]:
print('Evaluacion de las descripciones del varital Pinot Noir')
print('Cantidad de palabras distintas usadas :', pinotNoir.unique().size)
print('Aparicion promedio de palabras : ', round(pinotNoir.value_counts().mean(), 2))
print('Lista ordenada de las palabras usadas (top 5):')
pinotNoir.value_counts()[:5]

Evaluacion de las descripciones del varital Pinot Noir
Cantidad de palabras distintas usadas : 13130
Aparicion promedio de palabras :  9.89
Lista ordenada de las palabras usadas (top 5):

fruit      1513
cherry     1465
black      1421
red         795
finish.     786
dtype: int64

#### Teniendo en cuanta lo anterior vamos a entrar en un aanalisi de palabras sobre como cada palabra describe a un varietal y cuan comun o especifica es cada palabra a la hora de describir un varietal. Recordemos que estas manopulaciones de texto tienen el obeto de reducir el ruido en el analisis de clusterin mas adelante

In [20]:
#Palabras econtradas en los varietales
df1 = pd.DataFrame(pd.Series(' '.join([w for w in desc.variety]).split()).value_counts()).reset_index(drop=False).rename(columns={'index':'words',0:'recuento'})

Comparacion de los varietales mas revisados contra las palabras mas usadas en los varietales

In [21]:
mydisplay([top20Rw,df1[:20],df1[20:40],df1[40:60],df1[60:80],df1[80:101]], index=True)

In [22]:
#Varietales que contienen las palabras mas usadas
dfs = list()
for w in df1.words:
    word = w
    data = pd.DataFrame(pd.Series([x for x in desc.variety if w in x]).value_counts()).reset_index(drop=False).rename(columns={'index':'word {}'.format(w),0:'recuento'})
    
    dfs.append((data,word))

In [23]:
#Varietals that contains the most common words. Aca la funcion de vsualizacion
mydisplay([d[0] for d in dfs])#, [w[1] for w in dfs])

Esto por ahora...Ultima actualizacion 17/01/2020